<div class="admission-form">
    <form [formGroup]= "admitForm" (ngSubmit)="onSubmit()">
        <table cellspacing="0">
            <tr>
                <h2>Patient Admission</h2>
                <!--<div class = page-heading>Patient Admission</div>-->
            </tr>
            <tr>
                <div class = full-width>
                <mat-form-field>
                    <mat-label>MRN</mat-label>
                    <input matInput formControlName="mrn">
                </mat-form-field>
                </div>
            </tr>
            <tr>
                <div class = "full-width">
                <td>
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                    </mat-form-field>
                </td>
                </div>
            </tr>
            <tr>
                <div>
                    <mat-form-field>
                        <mat-label>Admission Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </div>
            </tr>
            <tr>
                <div class="entry-button-wrapper">
                <button mat-raised-button color="primary" type = submit (click)="submit()">Admit Patient</button>
                </div>
            </tr>
        </table>
    </form>
    <p>
    <!--{{ admitForm.value.firstName }} {{ admitForm.value.lastName }} {{ admitForm.value.mrn }} {{admitForm.value.date}}-->
    </p>
</div>
  