<div class="tablet">
  <div class="content">
<button mat-button [matMenuTriggerFor]="stockMenu">Stock</button>
<mat-menu #stockMenu="matMenu" xPosition="after">
  <button mat-menu-item (click) = "loadContent('comingsoon')">Inventory</button>
  <button mat-menu-item (click) = "loadContent('comingsoon')">On Order</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="linkMenu">Link</button>
<mat-menu #linkMenu="matMenu" xPosition="after"
    [overlapTrigger]="false">
  <button mat-menu-item (click) = "loadContent('scan')">Discharge Document</button>
  <button mat-menu-item (click) = "loadContent('comingsoon')">Pigeon-hole</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="lookupMenu">Lookup</button>
<mat-menu #lookupMenu="matMenu" xPosition="after">
  <button mat-menu-item (click) = "loadContent('comingsoon')">Generic Name</button>
  <button mat-menu-item (click) = "loadContent('comingsoon')">Active Ingredient</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="aboutMenu">About</button>
<mat-menu #aboutMenu="matMenu" xPosition="after">
  <button mat-menu-item (click) = "loadContent('comingsoon')">EPCIS Demo</button>
</mat-menu>
<div *ngIf = isScan>
  <scan></scan>
  </div>
  <div *ngIf = isComingSoon>
    <comingsoon></comingsoon>
    </div>
</div>